env/
py*/

__pycache__
.pytest_cache
*.pyc
*.egg-info
tests/logs/*.log
build
dist

/build
/dist

# local PyCharm and Pyenv IDE files
venv
.idea/
.python-version

# test directories
tests/logs
docker_test_*
target

# the stray output file from a test-merge.yaml driven test
merged-kg_stats.yaml
