prefixcommons>=0.1.4
pip>=9.0.1
networkx>=2.2
SPARQLWrapper>=1.8.2
pandas>=1.0.3
pytest>=0.0
mypy>=0.0
pystache>=0.0
rdflib>=0.0
Click>=7.0
neo4jrestclient>=0.0
pyyaml>=0.0
biolinkml>=1.5.8
bmt>=0.3.0
prologterms>=0.0.5
shexjsg>=0.6.5
terminaltables>=3.1.0
stringcase>=1.2.0
validators>=0.13.0
cachetools>=4.0.0
Sphinx>=2.3.1
sphinx-rtd-theme>=0.4.3
sphinx-click>=2.3.1
ordered-set>=4.0.2
docker>=4.2.2
pathlib>=1.0.0
jsonlines>=1.2.0
